{% extends 'base.html' %}
{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pamoja news</title>
</head>
<body>
    <body>
        {% block content %}
        <!-- Popular News -->
        <h3> Popular Newss</h3>
        <ul>
            {{ macro.displayNewsList(popular)}}
        </ul>
        <!-- Upcoming News  -->
        <h3> Upcoming Newss </h3>
        <ul>
            {{ macro.displayNewsList(upcoming)}}
        </ul>
        <!-- Now showing News -->
        <h3>Now Showing</h3>
        <ul>
            {{ macro.displayNewsList(now_showing)}}
        </ul>
        {% endblock %}
</body>
</html>